* {
    font-family: "changa", sans-serif;
    color: var(--white);
    --red: #9f4125;
    --brown: #1c140e;
    --grey: #7d6f68;
    --sand: #cda47b;
    --white: #f6e3cf;
    --gap: 2%;
  }

  /* main */

  /* about us section 1 */

  #aboutus1 {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: var(--sand);
  }

  #logo-aboutus {
    width: 15rem;
  }

  h1 {
    padding-top: 10%;
    padding-left: 7rem;
  }

/* about us section 2 */

#aboutus2 {
    display: flex;
    align-items: flex-start;
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: var(--brown);
}

h2 {
    margin-bottom: 2rem;
}

#text2 {
    column-count: 2;
    column-gap: 2rem;
    margin-bottom: 0;
}

#left-column2 {
    padding-right: 5rem;
}

#polaroid11 {
    display: flex;
    align-items: end;
    padding-top: 40%;
    width: 12rem;
}



/* about us section 3 */

#aboutus3 {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: var(--white);
}

#text3 {
    color: var(--brown);
    column-count: 2;
    column-gap: 2rem;
    margin-bottom: 0;
}

#left-column3 {
    padding-right: 15rem;
    padding-bottom: 8%;
}

#polaroid22 {
    display: flex;
    align-items: end;
    padding-top: 40%;
    width: 14rem; 
    position: absolute;
    top: 35%;
    left: 70%;
    rotate: 10deg;
}


/* section 4 */

#aboutus4 {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 20%;
    padding-right: 20%;
    gap: 2rem;
    position: absolute;
    top: 78rem;
}

#textboxh {
    text-align: center;
    text-transform: capitalize;
    font-size: 18pt;
    color: var(--red);
}

#textboxp {
    color: var(--red);
}

#textbox1 {
    border-style: solid;
    border-color: var(--sand);
    padding: 1rem;
    background-color: var(--sand);
    
}

#textbox2 {
    border-style: solid;
    border-color: var(--sand);
    padding: 1rem;
    background-color: var(--sand);
}

#textbox3 {
    border-style: solid;
    border-color: var(--sand);
    padding: 1rem;
    background-color: var(--sand);
}


/* section 5 */

#aboutus5 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 6%;
    padding-bottom: 2%;
}

h4 {
    color: var(--red);
    font-family: "monofett";
    font-size: 36pt;
    margin-bottom: 2rem;
}

