
/* fonts:
headers - "monofett";
everyhing else - "changa", san-serif;
*/
body {
    background-color: var(--brown);
}

p {
    color: var(--white);
}

* {
    font-family: "changa", sans-serif;
    --red: #9f4125;
    --brown: #1c140e;
    --grey: #7d6f68;
    --sand: #cda47b;
    --white: #f6e3cf;
  }


h1 {
    color: var(--red);
    padding-left: 20%;
    font-weight: 400;
    padding-top: 5%;
  }


#text1 {
    padding-left: 20%;
    padding-right: 10%;
    text-transform: capitalize;
}

#text2 {
    padding-right: 5%;
    padding-bottom: 10%;
}

#text3 {
    padding-left: 5%;
    padding-bottom: 10%;
}

#aboutus {
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#polaroid {
    padding-top: 8%;
    padding-left: 20%;
    width: 70%;
    rotate: 7deg;
}

#polaroid:hover {
    animation-name: hover;
    animation-duration: 2s;
}

@keyframes hover {
    25% {
        transform: scale(1.2);
      }
      40% {
        transform: rotate(-10deg) scale(1.2);
      }
}

