/* WIDE SCREEN */
@media screen and (min-width: 850px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }

  .filter-container{
    display: flex;
    width: 31rem;
    height: 3rem;
  }
  .filter-list{
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }

  .filter-list{
    margin-bottom: 0px;
  }
}

/* (medium screen is in browse.css) */

/* TINY SCREEN */
@media screen and (max-width: 468px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    margin-inline: 30vw;
  }

  .filter-container{
    margin-left: 0px;
    margin-right: 0px;
    align-self: center;
  }
}
