* {
  --wide: 95%;

  --red: #9f4125;
  --brown: #1c140e;
  --grey: #7d6f68;
  --sand: #cda47b;
  --white: #f6e3cf;
}

.container {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--brown);
}

/* filter bar */

.filter-sortby {
  align-self: center;
  margin-left: 2rem;
  font-family: "changa";
  font-size: 11pt;
}

.filter-container {
  background-color: var(--white);
  display: flex;
  align-items: bottom;
  border-radius: 1rem;
  position: relative;
  width: 40%;
  height: 3rem;
  margin-inline: 18vw;
  margin-top: 6rem;
}

.filter-list {
  display: flex;
  align-items: center;
  justify-self: center;
  list-style: none;
  gap: 2rem;
}

.filter-item {
  display: flex;
  justify-content: center;
}

.filter-item:hover {
  cursor: pointer;
}

.down-arrow {
  width: 0.8rem;
  fill: currentColor;
  margin-left: 0.5rem;
  align-content: center;
}

.filter-name {
  margin: 0;
  font-size: 10pt;
  color: var(--brown);
}

.filter-name:hover {
  animation-name: filterhover;
  animation-duration: 2s;
  color: var(--red);
}

/* overlays */

.filter-overlay {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  padding: 1rem;

  z-index: 20;

  background-color: var(--white);
  border: solid 1px var(--sand);
  border-radius: 10px;
}

.overlay-options {
  list-style: none;
  padding: 0;
}

/* search results */

#result-title-container {
  margin-inline: 18vw;

  margin-top: 2vw;
}

.search-results {
  margin: 0;
}

.no-res-header {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.no-res-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.no-res-section {
  width: 100%;
}
.no-res-logo {
  width: 75%;
  justify-self: end;
}

/* movies grid */

.content {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
  margin-inline: 18vw;
  column-gap: 5%;
}

h5 {
  font-weight: 400;
  color: var(--white);
}

.link {
  width: 100%;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info {
  width: 100%;
  margin-bottom: 20%;
}

.text {
  margin-top: 2px;
  margin-bottom: 0;
  color: var(--white);
}

.title {
  font-size: 16px;
  line-height: 1.2;
}

.title:hover {
  animation-name: texthover;
  color: var(--red);
}

.stars {
  font-size: 2%;
}

.poster-container {
  width: 100%;
  position: relative;
  z-index: 0;
}

.movie-img {
  width: 100%;
  height: 100%;
}

.movie-img:hover {
  animation-name: moviehover;
  animation-duration: 2s;
}

@keyframes moviehover {
  50% {
    scale: 1.1;
  }
}

.visited {
  background-color: var(--red);
  opacity: 70%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
}

.visited-text {
  text-align: center;
}

/* Page number and buttons */

.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 3px;
  margin-bottom: 2rem;
}

#page-number {
  margin: 0;
  margin-top: 4px;
}

.page-button {
  background-color: var(--brown);
  border-style: none;
  border-radius: 8px;
  display: flex;
}

.page-button:hover {
  background-color: var(--grey);
}

.filter-show-all {
  color: #9f4125;
}

.arrow-page-img {
  padding-top: 3px;
  height: 15px;
}


@media screen and (max-width: 940px) {
  .no-res-header {
    font-size: 2.5rem;
  }

  .no-res-container {
    grid-template-columns: 2fr 1fr;
  }

  .no-res-logo {
    width: 60%;
    justify-self: end;
  }
}

@media screen and (max-width: 680px) {
  .no-res-header {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .no-res-container {
    grid-template-columns: 1fr;
  }
}

