/* WIDE SCREEN */
@media only screen and (min-width: 850px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* (medium screen is in browse.css) */

/* TINY SCREEN */
@media only screen and (max-width: 452px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    margin-inline: 30vw;
  }

  .filter-container {
    margin-inline: 18vw;
  }
}
