* {
  font-family: "changa", sans-serif;
  color: var(--white);
  --red: #9f4125;
  --brown: #1c140e;
  --grey: #7d6f68;
  --sand: #cda47b;
  --white: #f6e3cf;
}

.d-container {
  padding: 1%;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--brown);
}

.d-content {
  width: 100%;
}

.d-back-img {
  width: 98%;
  height: 15rem;
}

.d-movie {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.d-stuff {
  width: 64%;

  margin-inline: 18%;
  margin-top: -5rem;
}

.poster {
  width: 30%;
  height: auto;
  align-self: flex-start;
}

h3 {
  margin: 0;
  width: 100%;
}

.review-header-container {
  margin-top: 1rem;
  padding-bottom: 5px;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  border-bottom: solid 2px var(--white);
  align-items: flex-end;
}

.add-review-button {
  width: 20%;
  color: var(--brown);
}

.list-title {
  margin: 0;
  font-size: 0.75rem;
}

.list-items {
  display: flex;
  align-items: flex-end;
  gap: 2%;
  border-top: solid 1px #f6e3cf50;
}

.ul-info {
  padding: 0;
}

.title-stars {
  font-size: 1.5rem;
  padding-right: 2%;
}

.d-title {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.score-container {
  display: flex;
  align-items: center;
  gap: 1%;
}

.title-basedOn {
  font-weight: 100;
  font-style: italic;
  color: #f6e3cf70;
}

.title-number {
  font-weight: bold;
}

.review-title-container {
  display: flex;
  align-items: flex-center;
  gap: 2%;
}

.review-title {
  margin: 0;
  color: var(--white);
  border: none;
  font-weight: bold;
}

.review-name {
  color: #f6e3cf70;
  margin-top: 3px;
  font-style: italic;
}

.small-stars {
  margin: 0;
}

.review-text {
  margin-bottom: 2rem;
  border-bottom: solid 1px #f6e3cf50;
}
