* {
  font-family: "changa", sans-serif;
  --red: #9f4125;
  --brown: #1c140e;
  --grey: #7d6f68;
  --sand: #cda47b;
  --white: #f6e3cf;
}

body {
  background-color: var(--brown);
}

.d-container {
  display: flex;
}

.d-content {
  width: 100%;
}

.d-movie {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--sand);
  margin-inline: 14rem;
  justify-content: center;
  column-gap: 5rem;
  grid-template-columns: 75% 25%;
}

.poster {
  width: 40%;
}
