/* fonts:
headers - "monofett";
everyhing else - "changa", san-serif;
*/

* {
  font-family: "changa", sans-serif;
  --red: #9f4125;
  --brown: #1c140e;
  --grey: #7d6f68;
  --sand: #cda47b;
  --white: #f6e3cf;
}

body {
  background-color: var(--brown);
  margin: 0%;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: var(--red);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8%;
}

#header-links {
  display: flex;
  width: 40%;
  column-gap: 10%;
  justify-content: center;
}

#logo {
  margin-left: 20px;
  width: 25px;
}

.header-nav {
  display: flex;
  column-gap: 5rem;
}

.navlink {
  color: var(--white);
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

.navlink:hover {
  color: var(--brown);
  transition: 0, 7s;
}

.header-search {
  display: flex;
  padding: 0.5%;
}

#searchbar {
  background-color: var(--white);
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 20vw;
}

#searchbutton {
  background-color: var(--white);
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-content: center;
}

#searchlogo {
  width: 0.8rem;
}

/* main */

#responsive-search {
  display: none;
}

#responsive-search-section {
  display: none;
  padding: 0.5%;
}

#responsive-search-button {
  border-style: none;
  background-color: var(--white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#responsive-searchbar {
  border-style: none;
  background-color: var(--white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#responsive-back-button {
  background-color: transparent;
  border-radius: 10px;
  border-style: none;
}

a {
  text-decoration: none;
  color: var(--brown);
}

h1 {
  font-family: "monofett";
  color: var(--red);
  font-size: 48pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 8%;
}

h2 {
  font-family: "monofett";
  color: var(--red);
  font-size: 36pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  line-height: 90%;
}

p {
  color: var(--white);
  font-family: "changa", san-serif;
  font-size: 10pt;
  line-height: 100%;
  margin-top: 0%;
  margin-bottom: 5%;
}

.text-white {
  color: var(--white);
}

#header-image {
  width: 100%;
}

#homepage1 {
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
  grid-template-columns: 55% 45%;
}

#welcomeimg {
  width: 100%;
}
#home-image-1 {
  padding-left: 22%;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  object-fit: cover;
}

#to-movies-button {
  font-family: "changa";
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding-inline: 10%;
  font-size: 14pt;
  border-radius: 10rem;
  text-transform: uppercase;
}

#to-movies-button:hover {
  background-color: #5c2110;
  transition: 0, 7s;
}

#homepage2 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: var(--white);
  margin-top: 5rem;
  align-items: end;
}

#homepage2-div {
  display: flex;
  column-gap: 2%;
}

#homepage2-div-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  column-gap: 2rem;
}

#home-image-2 {
  align-self: center;
  align-self: end;
  width: 70%;
}

#homepage2-text {
  font-family: "changa", san-serif;
  color: var(--red);
  font-size: 14pt;
  line-height: 100%;
  margin-top: 0%;
  display: block;
  text-transform: uppercase;
}

#barbie-button {
  font-family: "changa";
  background-color: var(--red);
  border: none;
  color: var(--white);
  font-size: 16pt;
  border-radius: 10rem;
  text-transform: uppercase;
  width: 6rem;
}

#barbie-button:hover {
  background-color: #5c2110;
  transition: 0, 7s;
}

/* section 3 */

#homepage3 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  background-color: var(--brown) ù;
  color: var(--white);
}

H3 {
  font-family: "monofett";
  color: var(--red);
  font-size: 36pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 3%;
}

#homepage3-poster {
  display: grid;
  gap: 10%;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 5%;
  justify-items: space-evenly;
}

.titlereview {
  text-transform: uppercase;
  font-size: 14pt;
  margin-bottom: 3%;
  margin-top: 3%;
  line-height: 1.2;
}

.titlereview:hover {
  color: var(--sand);
  transition: 0, 7s;
}

#recentreviews {
  margin-left: 10vw;
}

.reviewtext {
  font-size: 10pt;
  line-height: 1.5;
  width: 100%;
}

.text {
  color: var(--white);
}

.poster {
  width: 100%;
}

.poster:hover {
  animation-name: posterhover;
  animation-duration: 2s;
}

@keyframes posterhover {
  50% {
    scale: 1.1;
  }
}

@media screen and (max-width: 880px) {
  #homepage3-poster {
    grid-template-columns: repeat(2, 1fr);
    gap: 0%;
  }

  .poster {
    width: 90%;
  }

  .reviewtext {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  /* homepage1 */
  #homepage1 {
    grid-template-columns: repeat(1, 1fr);
  }

  #home-image-1 {
    padding-left: 0;
    width: 100%;
  }

  #welcometext {
    margin-bottom: 0;
    width: 80%;
    font-size: 40pt;
  }

  #welcomeimg {
    padding-top: 10%;
    height: 10rem;
  }

  #homepage1textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* homepage2 */

  #homepage2-div {
    display: block;
  }

  #barbietext {
    font-size: 30pt;
  }

  #home-image-2 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #homepage3-poster {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 5%;
    margin-bottom: 17%;
    justify-items: space-evenly;
  }
}

H3 {
  line-height: 1;
}

/* FOOTER */

footer {
  background-color: var(--sand);
  display: flex;
}
/* sections of the footer */
.footer-section {
  width: 25%;
  padding-left: 2rem;
  padding-bottom: 5%;
}
/* contents of previous sections */
.footer-container {
  display: flex;
  align-items: baseline;
  margin: 0%;
}
/* titles of sections in footer */
h4 {
  font-weight: 400;
  font-size: 2svw;
  color: var(--brown);
  border-bottom: solid --brown;
  line-height: 1.4;
}
/* small logos inside of footer */
#footer-logo {
  width: 1rem;
  padding-right: 3%;
}
/*for bold text in footer*/
#footer-bold {
  font-weight: bold;
}

.footer-text {
  font-size: 1.8svw;
}
/* okay */

/* RESPONSIVE HEADER */

/* wide screen */
@media only screen and (min-width: 850px) {
  #header-links {
    justify-content: left;
    width: 30%;
  }

  .footer-text {
    font-size: 10pt;
  }

  h4 {
    font-size: 13pt;
  }
}

@media screen and (min-width: 469px) {
  #responsive-search {
    display: none;
  }
}
/* narrow screen */
@media only screen and (max-width: 468px) {
  header {
    justify-content: center;
    column-gap: 5%;
  }

  #logo {
    margin: 0%;
    padding: 0%;
  }

  #header-links {
    width: 60%;
  }

  .header-search {
    display: none;
  }

  #responsive-search {
    display: flex;
    background-color: var(--white);
    border-style: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    align-content: center;
    justify-content: center;
    margin-top: 2.5px;
  }

  footer {
    flex-direction: column;
    padding-top: 10%;
  }

  .footer-section {
    width: 60%;
    padding-inline: 20%;
  }

  .footer-text {
    font-size: 10pt;
  }
  
  h4{
    font-size: 13pt;
  }
}
