/* fonts:
headers - "monofett";
everyhing else - "changa", san-serif;
*/

* {
  font-family: "changa", sans-serif;
  --red: #9f4125;
  --brown: #1c140e;
  --grey: #7d6f68;
  --sand: #cda47b;
  --white: #f6e3cf;
}

body {
  background-color: var(--brown);
  margin: 0%;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: var(--red);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8%;
}

#header-links {
  display: flex;
  align-items: center;
  width: 20%;
  column-gap: 5%;
}

#logo {
  margin-left: 20px;
  width: 25px;
}

.header-nav {
  display: flex;
  column-gap: 5rem;
}

.navlink {
  color: var(--white);
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

.header-search {
  display: flex;
  padding: 0.5%;
}

#searchbar {
  background-color: var(--white);
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 20rem;
}

#searchbutton {
  background-color: var(--white);
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-content: center;
}

#searchlogo {
  width: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--brown);
}

h1 {
  font-family: "monofett";
  color: var(--red);
  font-size: 48pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 8%;
}

h2 {
  font-family: "monofett";
  color: var(--red);
  font-size: 36pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  line-height: 90%;
}

p {
  color: var(--white);
  font-family: "changa", san-serif;
  font-size: 12pt;
  line-height: 100%;
  margin-top: 0%;
  margin-bottom: 5%;
}

.text-white {
  color: var(--white);
}

#header-image {
  width: 100%;
}

#homepage1 {
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
  grid-template-columns: 55% 45%;
}

#home-image-1 {
  padding-left: 22%;
  width: 100%;

  justify-self: center;
  align-self: center;
}

#to-movies-button {
  font-family: "changa";
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding-inline: 10%;
  font-size: 14pt;
  border-radius: 10rem;
  text-transform: uppercase;
}

#homepage2 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: var(--white);
  margin-top: 5rem;
  align-items: end;
}

#homepage2-div {
  display: flex;
  column-gap: 2%;
}

#homepage2-div-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
  column-gap: 2rem;
}

#home-image-2 {
  align-self: center;
  align-self: end;
  width: 70%;
}

#homepage2-text {
  font-family: "changa", san-serif;
  color: var(--red);
  font-size: 14pt;
  line-height: 100%;
  margin-top: 0%;
  display: block;
  text-transform: uppercase;
}

#barbie-button {
  font-family: "changa";
  background-color: var(--red);
  border: none;
  color: var(--white);
  font-size: 16pt;
  border-radius: 10rem;
  text-transform: uppercase;
  width: 6rem;
}

#homepage3 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  background-color: var(--brown) ù;
  color: var(--white);
}

#homepage3-poster {
  display: flex;
  gap: 20%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 5%;
  justify-items: space-evenly;
}

.titlereview {
  text-transform: uppercase;
  font-size: 14pt;
  margin-bottom: 5%;
  margin-top: 3%;
}

.reviewtext {
  font-size: 10pt;
  line-height: 1.5;
}

.text {
  color: var(--white);
}

.reviewtext {
  width: 100%;
}

.poster {
  width: 100%;
}

H3 {
  font-family: "monofett";
  color: var(--red);
  font-size: 36pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 8%;
}

/* FOOTER */

footer {
  background-color: var(--sand);
  display: flex;
}
/* sections of the footer */
.footer-section {
  width: 25%;
  padding-left: 4%;
  padding-bottom: 5%;
}
/* contents of previous sections */
.footer-container {
  display: flex;
  align-items: baseline;
  margin: 0%;
}
/* titles of sections in footer */
h4 {
  font-weight: 400;
  color: var(--brown);
  border-bottom: solid --brown;
}
/* small logos inside of footer */
#footer-logo {
  width: 1rem;
  padding-right: 3%;
}
/*for bold text in footer*/
#footer-bold {
  font-weight: bold;
}
