/* fonts:
headers - "monofett";
everyhing else - "changa", san-serif;
*/

* {
  font-family: sans-serif;
}

body {
  background-color: #1c140e;
  margin: 0%;
}

header {
  position: sticky;
  top: 0;
  background-color: #9f4125;
  width: 100%;
  border-radius: 1rem;
  justify-self: center;
  justify-content: center;
  display: flex;
}

.navitem {
  margin-left: 2%;
  margin-right: 2%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "monofett";
  color: #9f4125;
  font-size: 48pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 8%;
}

h2 {
  font-family: "monofett";
  color: #9f4125;
  font-size: 36pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 8%;
}

p {
  font-family: "changa", san-serif;
  font-size: 12pt;
  line-height: 100%;
  margin-top: 0%;
  margin-bottom: 5%;
}

.text-white {
  color: #f6e3cf;
}

#header-image {
  width: 100%;
}

#homepage1 {
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
  grid-template-columns: 55% 45%;
}

#home-image-1 {
  padding-left: 22%;
  width: 100%;
  justify-self: center;
  align-self: center;
}

#to-movies-button {
  font-family: "changa";
  background-color: #9f4125;
  border: none;
  color: #f6e3cf;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 14pt;
  border-radius: 10rem;
  font-weight: bold;
}

#homepage2 {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #c9a58b;
  margin-top: 5rem;
  align-items: end;
}

#home-image-2 {
  align-self: center;
  align-self: end;
  width: 100%;
}

#homepage2-text {
  font-family: "changa", san-serif;
  font-size: 16pt;
  line-height: 100%;
  margin-top: 0%;
  padding-left: 10%;
  display: block;
}

#barbie-button {
  font-family: "changa";
  background-color: #9f4125;
  border: none;
  color: #f6e3cf;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20pt;
  border-radius: 10rem;
  font-weight: bold;
  margin-left: 10%;
}

#homepage3 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  background-color: #1c140e;
}

#homepage3-img {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 20%;
  padding-right: 20%;
}

H3 {
  font-family: "monofett";
  color: #9f4125;
  font-size: 36pt;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 8%;
}

footer {
  background-color: #9f4125;
  width: 100%;
  height: 10rem;
}
